nav {
    position: relative;
    z-index: 9999;

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            position: relative;

            .title,
            .description {
                position: relative;
                z-index: 4;
            }

            .nav-drop {
                @include media($screen-sm) {
                    @include accelerate;

                    background-color: map-get($gray, light);
                    opacity: 1;
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    margin-top: 10px;
                    transform: translateY(-100%);
                    transition: transform 0.2s $base-animation;
                    padding: 0.5em 0;

                    hr {
                        @include accelerate;

                        border-bottom: 1px solid;
                        border-color: transparentize(map-get($gray, border), 0.8);
                        transition: border-color 0.3s cubic-bezier(0.36, 0.1, 0.74, 0.9);
                        transition-delay: .3s;
                    }

                    .nav-drop-item {
                        @include accelerate;

                        padding: 0.5em 0;
                        width: 100%;
                        display: block;
                        border: 0;
                        position: relative;

                        &:nth-of-type(1) {
                            transform: translateY(-30%);
                        }

                        &:nth-of-type(2) {
                            transform: translateY(-35%);
                        }

                        &:nth-of-type(3) {
                            transform: translateY(-40%);
                        }

                        transition: transform 0.3s $base-animation;
                    }
                }
            }

            &.menu-item-has-children {
                @include media($screen-sm) {
                    &:before {
                        content: ' ';
                        display: block;
                        background-color: map-get($gray, dark);
                        width: 100%;
                        height: 147%;
                        position: absolute;
                        z-index: 2;
                        top: -25%;
                    }

                    &:hover {
                        .nav-drop {
                            @include accelerate;

                            transform: translateY(0);
                            transition: transform 0.2s $base-animation;

                            .nav-drop-item {
                                @include accelerate;

                                transform: translateY(0);
                                transition: transform 0.4s $base-animation;

                                &:nth-of-type(1) {
                                    // transition: transform 0.5s $base-animation;
                               
                                }

                                &:nth-of-type(2) {
                                    // transition: transform 0.35s $base-animation;
                               
                                }

                                &:nth-of-type(3) {
                                    // transition: transform 0.3s $base-animation;
                               
                                }
                            }

                            hr {
                                @include accelerate;

                                border-bottom: 1px solid;
                                border-color: map-get($gray, border);
                                transition: border-color 0.3s cubic-bezier(0.36, 0.1, 0.74, 0.9);
                                transition-delay: .2s;
                            }
                        }
                    }
                }
            }
        }

        .nav-border {
            border-right: 1px solid map-get($gray, border);
        }
    }
}

header {
.resources--nav{
    min-width: 230px;
}
}

.wf-loading {
    @include media($screen-sm) {
        .nav-drop {
            opacity: 0;
        }
    }
}

.wf-loading {
    @include media($screen-sm) {
        nav {
            ul {
                li {
                    .title {
                        font-size: 1.2em;
                    }
                }
            }
        }

        header {
            .resources {
                font-size: 1.2em;
            }
        }
    }
}

.wf-active {
    @include media($screen-sm) {
        nav {
            ul {
                li {
                    .title {
                        font-size: 1.6em;
                        font-weight: 900;
                    }
                }
            }
        }

        header {
            .resources {
                font-size: 1.6em;
                font-weight: 900;
            }
        }
    }
}