// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$gray: (
	light: 			#f4f3f2,
	medium:			#cccccc,
	main: 			#919191,
	dark: 			#333333,
	map: 			#e2e2e2,
	border:			#5c5c5c,
);
$black: map-get($gray, dark);
$white: map-get($gray, light);
$green: #d9e842;
// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)