.bg--gray-light {
    background-color: map-get($gray, light);
}

.bg--gray-medium {
    background-color: map-get($gray, medium);
}

.bg--gray {
    background-color: map-get($gray, main);
}

.bg--gray-dark {
    background-color: map-get($gray, dark);
}

.bg--white {
    background-color: $white;
}

.bg--green {
    background-color: $green;
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}