.block--keep-me-informed, .block--search {
    form {
        .fields {
            display: flex;

            input {
                flex-grow: 2;
            }

            [type="submit"] {
                flex-grow: 1;
            }
        }
    }
}