.block--partner-slider {
    .partner {
        height: 96px;
        width: 190px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}