{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
{% block header %}
	{% include 'components/sections/header.twig' %}
{% endblock %}
<main role="main" class="content-wrapper">
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>
{% block footer %}
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}
{% include 'components/sections/section--site-search-modal.twig' %}
{% include 'components/analytics.twig' %}
</body>

</html>