<footer class="bg--gray-dark color--gray spacing--vert-2">
	<div class="max-wrap margin--center spacing--gutter">
		{% include 'components/sections/section--footer-cta.twig' %}
		{% include 'components/sections/section--footer-navs.twig' %}
		{% include 'components/sections/section--footer-links.twig' %}
	</div>
</footer>
