{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% block contentheader %}
			{% include 'components/sections/section--header.twig' %}
		{% endblock %}
		
		<section class="bg--gray-light relative">
			{% if post.post_parent != 0 %}{% include 'components/blocks/block--breadcrumbs.twig' %}{% endif %}
			<div class="max-wrap margin--center spacing--gutter spacing--vert-2 spacing--dsk-vert-6">

				<div class="grid--one grid--sm-three-fourths grid--md-three-fifths font--large font--serif content">{{post.content}}</div>
				
			</div>
		</section>
	</article>
{% endblock %}