{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		
		{% include 'components/sections/section--challenge-submission-intro.twig' %}
		<section class="section--challenge-form-wrap bg--gray-light spacing--gutter-mob spacing--dsk-horiz-6 spacing--vert-3">
			<h2 class="text--uppercase font--condense">{{form.form.title}}</h2><hr class="color--green thick fifty left margin--vert-2">
			{{form.form.form}}
		</section>
	</article>
{% endblock %}