{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% block contentheader %}
		{% include 'components/sections/section--header.twig' %}
	{% endblock %}
			<section class="article-content">
					{{post.content}}

			</section>
		</article>
{% endblock %}