<header class="header bg--gray-dark spacing--horiz-1 dsk--flex flex--wrap justify--between">
	<a class="hdr-logo-link" href="/" rel="home"><i class="icon-logo" data-grunticon-embed></i></a>
	{% include 'components/navigation.twig' %}
</header>