<header class="header bg--gray-dark spacing--horiz-1 spacing--vert-half flex flex--wrap justify--between">
	<a class="hdr-logo-link grid--fifth" href="/" rel="home"><i class="icon-logo" data-grunticon-embed></i></a>
	{% include 'components/navigation.twig' %}
	{% include 'components/sections/section--social.twig' %}
	<label class="menu--trigger hidden--dsk color--gray"><span></span></label>
</header>