<section class="section--be-informed-know">
	<div class="max-wrap margin--center spacing--gutter spacing--vert-2 spacing--dsk-vert-6">
		
		
		<div class="flex flex--wrap justify--between align--items-center">
			<div class="grid--one grid--sm-three-fifths grid--md-half">
				<h2 class="font--condense text--uppercase ">{{informed.know.title}}</h2>
				<hr class="color--green thick fifty left margin--vert-2">
				<div class=" font--large font--serif">
				{{informed.know.content}}</div>
			</div>
			<div class="block--quote grid--one grid--sm-third grid--md-third">
				<div class="quote text--uppercase font--condense">{{informed.know.quote}}</div><br>
				<div class="author font--bold text--uppercase">{{informed.know.author}}</div>
			</div>
		</div>
	</div>
</section>