<section class="section--reports-intro relative bg--gray-light">
	{% if post.post_parent != 0 %}{% include 'components/blocks/block--breadcrumbs.twig' %}{% endif %}
	<i class="icon-bg-map topright fade" data-grunticon-embed></i>
	<div class="max-wrap margin--center spacing--gutter spacing--vert-2 spacing--dsk-vert-6 relative ztop flex flex--wrap justify--between">
		<div class="grid--one grid--sm-three-fifths">
			<h2 class="font--condense text--uppercase ">{{reports.intro.title}}</h2>
			<hr class="color--green thick fifty left margin--vert-2">
			<div class="font--large font--serif">{{reports.intro.content}}</div>
		</div>
		<div class="grid--one grid--sm-one grid--md-third">
			{% include 'components/blocks/block--keep-me-informed.twig' %}
		</div>
	</div>
</section>