<i class="icon-bg-map botright" data-grunticon-embed></i>
<section class="section--be-informed-intro relative flex flex--wrap justify--between align--items-center spacing--gutter spacing--vert-2 spacing--dsk-vert- max-wrap margin--center">
	<div class="relative ztop grid--one grid--md-half">
		<h2 class="font--condense text--uppercase ">{{challenge.intro.title}}</h2>
		<hr class="color--green thick fifty left margin--vert-2">
		<div class=" font--large font--serif">{{challenge.intro.content}}</div>
	</div>
	<div class="relative ztop grid--one grid--md-two-fifths grid--lg-third bg--gray-dark spacing--vert-2 spacing--horiz-2">
		<h2 class="color--white text--upper font--condense margin--bot-1">{{challenge.right.title}}</h2>
		<a data-target="tier--1" class="trigger--form button bg--green color--black  text--uppercase font--bold letter--1 spacing--horiz-1 text--center  spacing--vert-1 inline-block">Start Here</a>
	</div>
</section>