<section class="section--challenge-resources flex flex--wrap justify--between spacing--gutter spacing--dsk-horiz-0 spacing--vert-3">
	{% for resource in challenge.resources %}
		{% include 'components/blocks/block--challenge-resource.twig' %}
	{% endfor %}
</section>