<section class="section--resiliency-challenge bg--white relative spacing--vert-2 spacing--dsk-vert-6">
	<div class="flex flex--wrap justify--between margin--center max-wrap spacing--gutter relative ztop">
		<div class="grid--one grid--sm-half">
			<h2 class="deco font--condense"><span>{{resiliency.challenge.title}}</span></h2>
			<div class="font--serif font--large">{{resiliency.challenge.content}}</div>
		</div>
		<div class="grid--one grid--sm-half grid--md-third bg--gray-dark spacing--vert-2 spacing--horiz-2">
			<i class="icon-challenge" data-grunticon-embed></i>
			<h2 class="color--green font--condense text--uppercase">{{resiliency.challenge.coming}}</h2>
		</div>
	</div>
	<i class="icon-bg-map botleft" data-grunticon-embed></i>
</section>