<section class="section--home-signup bg--gray-dark spacing--vert-3 spacing--dsk-vert-6">
	<div class="grid--four-fifths grid--sm-three-fifths grid--md-half grid--lg-third bg--gray-medium color--gray-dark spacing--vert-3 spacing--gutter margin--center">
		<h2 class=" text--uppercase margin--bot-half">{{home.email.title}}</h2>
		<div class="margin--bot-1">
			{{home.email.intro}}
		</div>
		{{home.email.form}}
	</div>
</section>