<section class="section--be-informed-intro relative">
	<i class="icon-bg-map topright" data-grunticon-embed></i>
	<div class="max-wrap margin--center spacing--gutter spacing--vert-2 spacing--dsk-vert-6 relative ztop">
		<h2 class="font--condense text--uppercase ">{{resilient.intro.title}}</h2>
		<hr class="color--green thick fifty left margin--vert-2">
		<div class="grid--one grid--sm-three-fourths grid--md-three-fifths font--large font--serif">{{resilient.intro.content}}</div>
	</div>
</section>