<section class="section--home-signup bg--gray-dark spacing--horiz-1 spacing--dsk-horiz-0 spacing--vert-3 spacing--dsk-vert-6">
	<div class="max-wrap grid--one grid--sm-three-fourths grid--lg-three-fifths bg--gray-medium color--gray-dark margin--center flex flex--wrap justify--between">

		<div class="grid--one grid--sm-half grid--lg-two-fifths spacing--horiz-2 bg--white spacing--vert-2">
			<h2 class=" text--uppercase margin--bot-half">{{home.email.title}}</h2>
		<div class="margin--bot-">
			{{home.email.intro}}
		</div>
		</div>
		<div class="grid--one grid--sm-half grid--lg-three-fifths spacing--vert-2 spacing--horiz-2">
			
		{{home.email.form}}
		</div>
	</div>
</section>