<section class="section--media-form section--media-form-{{loop.index}} bg--gray-dark grid--one grid--sm-three-fifths margin--center spacing--vert-2 spacing--horiz-2">
	<span class="trigger--close">+</span>
	<h2 class="color--green font--condense text--uppercase h1">{{options.header.title}}</h2>
	
	<div class="font--serif color--gray-medium">{{options.header.content}}</div>
	{{item.form}}
</section>