<div class="block--keep-me-informed bg--gray-dark spacing--vert-2 spacing--horiz-2">
	<h2 class="color--green text--uppercase font--condense">{{options.signuptxt}}</h2><br>
	{{footer.informed.signup}}
</div>
