.section--challenge-resources-intro {
    .block--breadcrumbs {
        margin-bottom: -65px;
    }
}

.block--challenge-resource-content {
    ul {
        li {
            margin-bottom: 1em;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}

.section--challenge-submission-intro {
    i {
        float: none;
    }
}

.section--challenge-form-wrap {
    margin: 0 auto;
    max-width: 925px;
    top: -4em;
    position: relative;

    &:nth-of-type(1) {
        z-index: 999999998;
    }

    &:nth-of-type(2) {
        z-index: 999999997;
    }

    &:nth-of-type(3) {
        z-index: 999999996;
    }

    &:nth-of-type(4) {
        z-index: 999999995;
    }

    &:nth-of-type(5) {
        z-index: 999999994;
    }

    &:nth-of-type(6) {
        z-index: 999999993;
    }

    &:nth-of-type(7) {
        z-index: 999999992;
    }

    form {
        .gform_fields {
            @extend .flex;

            @extend .justify--between;

            @extend .align--items-baseline;

            @extend .flex--wrap;
        }

        .challenge-check {
            .ginput_container_checkbox {
                ul {
                    @extend .flex;

                    @extend .justify--between;

                    @extend .align--items-baseline;

                    @extend .flex--wrap;

                    li {
                        @extend .grid--one;

                        @extend .grid--sm-half;
                    }
                }
            }
        }

        input, textarea {
            width: 100% !important;
            margin-bottom: 1em;
            border: 1px solid #c1c1c1;
        }

        label {
            @extend .screenreader;
        }

        .ginput_container_name {
            @extend .flex;

            @extend .justify--between;

            @extend .align--items-baseline;

            @extend .flex--wrap;

            .name_first, .name_last {
                @extend .grid--half;
            }
        }

        [type="checkbox"] {
            border: 5px solid map-get($gray, dark) !important;
            margin: 0 !important;
            height: 30px !important;
            width: 30px !important;
            display: inline-block;
            padding: 0 !important;
            position: relative;

            &:before {
                position: absolute;
                content: ' ';
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: $green;
                display: block;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                opacity: 0;
            }

            &:hover {
                transition: background 0.2s $base-animation;
                background: transparentize(map-get($gray, dark), 0.9);
            }

            transition: background 0.2s $base-animation;

            &:checked {
                transition: background 0.2s $base-animation;
                background: transparentize(map-get($gray, dark), 0.2);

                &:before {
                    transition: opacity 0.2s $base-animation;
                    opacity: 1;
                }
            }

            + label {
                position: relative;
                left: unset;
                top: auto;
                height: auto;
                width: auto;
                overflow: visible;
                font-size: 1em;
                text-transform: uppercase;
                line-height: 1.5;
                letter-spacing: 0.5px;
            }
        }

        .gform_button {
            background-color: $green;
            font-size: 2em;
            border: 0 !important;
        }
    }
}

.block--link {
    border-top: 1px solid map-get($gray, medium);
}

.section--resilient-start, .section--media-form {
    transition: transform 0.3s $base-animation, top 0.3s $base-animation;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translateY(-150%) translateX(-50%);
    z-index: 9999999;

    form {
        .gform_fields {
            @extend .flex;

            @extend .justify--between;

            @extend .align--items-baseline;

            @extend .flex--wrap;
        }

        input, textarea {
            width: 100% !important;
            margin-bottom: 1em;
        }

        label {
            @extend .screenreader;
        }

        .ginput_container_name {
            @extend .flex;

            @extend .justify--between;

            @extend .align--items-baseline;

            @extend .flex--wrap;

            .name_first, .name_last {
                @extend .grid--half;
            }
        }

        .gform_button {
            background-color: $green;
            font-size: 1.2em;
            border: 0 !important;
        }
    }
}

body {
    &:before {
        content: ' ';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparentize(map-get($gray, medium), 0.2);
        z-index: -1;
    }
}

body {
    &.tier--1 {
        .section--resilient-start {
            &.tier--1 {
                transition: transform 0.3s $base-animation, top 0.3s $base-animation;
                transform: translateY(-50%) translateX(-50%);
                top: 50%;
            }
        }

        &:before {
            transition: opacity 0.3s $base-animation;
            opacity: 1;
            z-index: 9999999;
        }
    }

    &.tier--2 {
        .section--resilient-start {
            &.tier--2 {
                transition: transform 0.3s $base-animation, top 0.3s $base-animation;
                transform: translateY(-50%) translateX(-50%);
                top: 50%;
            }
        }

        &:before {
            transition: opacity 0.3s $base-animation;
            opacity: 1;
            z-index: 9999999;
        }
    }

    &.tier--3 {
        .section--resilient-start {
            &.tier--3 {
                transition: transform 0.3s $base-animation, top 0.3s $base-animation;
                transform: translateY(-50%) translateX(-50%);
                top: 50%;
            }
        }

        &:before {
            transition: opacity 0.3s $base-animation;
            opacity: 1;
            z-index: 9999999;
        }
    }

    &.tier--4 {
        .section--resilient-start {
            &.tier--4 {
                transition: transform 0.3s $base-animation, top 0.3s $base-animation;
                transform: translateY(-50%) translateX(-50%);
                top: 50%;
            }
        }

        &:before {
            transition: opacity 0.3s $base-animation;
            opacity: 1;
            z-index: 9999999;
        }
    }

    &.media--form {
        .section--media-form {
            transition: transform 0.3s $base-animation, top 0.3s $base-animation;
            transform: translateY(-50%) translateX(-50%);
            top: 50%;
        }

        &:before {
            transition: opacity 0.3s $base-animation;
            opacity: 1;
            z-index: 9999999;
        }
    }
}

.trigger--close {
    position: absolute;
    right: 1em;
    top: 1em;
    background: white;
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transform: rotate(45deg);
    border-radius: 20px;
}